openapi: 3.1.0
info:
  title: Create Calendar Event
  version: 1.0.0
servers:
  - url: https://hooks.zapier.com/hooks/catch/22681925/2p6jt8o/
paths:
  /:
    post:
      summary: Create a calendar event
      operationId: createCalendarEvent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                event_title:
                  type: string
                  description: Title of the event, e.g., "Doctor Appointment with Dr. Smith"
                start_time:
                  type: string
                  description: Start time in ISO 8601 format, e.g., "2025-04-27T15:00:00"
                end_time:
                  type: string
                  description: End time in ISO 8601 format, e.g., "2025-04-27T16:00:00"
                location:
                  type: string
                  description: Address or location of the event
                doctor_name:
                  type: string
                  description: Doctor's name if applicable
                phone_number:
                  type: string
                  description: Phone number associated with the appointment
                notes:
                  type: string
                  description: Additional notes about the event
              required:
                - event_title
                - start_time
                - end_time
      responses:
        '200':
          description: Successfully created event
